#photo 
{ 

transform:matrix(1,0,0,1,0,0);

}

div 
{
	width:150px;
	height:100px;
	background-color:blue;
	transition-duration:1s;

}
	


@keyframes Masuperanimation {
0% {
	transform:translateX(50px) rotate(20deg);
	
}

50% {
	transform:translateY(100px) rotate(50deg);
	
}

100% {
	transform:translateY(-100px) rotate(-50deg);
	

}